<h1>Login page</h1>
<%= form_tag 'login_page' do %>

<table>
<tr> 
     <td style="text-align:right">Username:</td> 
     <td><%= text_field_tag :user_from_login2, '', 
                            :class => 'ctrl' %></td>
</tr>

<tr>
     <td style="text-align:right">Password:</td> 
     <td><%= password_field_tag :pw_from_login2, '', 
                            :class => 'ctrl' %></td>
</tr>

<tr>
<td> </td>
     <td><%= submit_tag 'Login', 
                            :class => 'ctrl' %></td>     
</tr>
<table>
<% end %>