
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>Login Page</title>
<%= stylesheet_link_tag 'login' %>
</head>

<body>

<h1>Login Page</h1>

<%= yield %>

</body>
</html>